version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-local
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass        
      MYSQL_DATABASE: file_storage         
      MYSQL_USER: admin                  
      MYSQL_PASSWORD: adminpass          
    ports:
      - "8000:3306"                        
    volumes:
      - ./mysql_data:/var/lib/mysql       

  phpmyadmin:                              
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: rootpass
