services:
  mysql:
    image: mysql:8.0
    container_name: mysql-local
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-local
    restart: always
    ports:
      - "8080:80" 
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    networks:
      - backend

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: file-api
    restart: always
    env_file:
      - .env.docker
    volumes:
      - ./files_data:/app/files_data
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - mysql
    networks:
      - backend

networks:
  backend:
    driver: bridge
